* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
  line-height: 1.42; 
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fff;
  color: #333;
}

h2 {
  font-size: 2.14em;
}

h3 {
  font-size: 1.14em;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a, input {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
